.viewersContainer {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  user-select: none;
}

.viewersIndicator {
  width: 0.4rem;
  height: 0.4rem;
  background-color: red;
  border-radius: 0.2rem;
  margin-right: 0.15rem;
}

.viewersIcon {
  flex-shrink: 0;
}

.viewersCount {
  margin-left: 0.15rem;
  line-height: 1;
}
