.toggleButton {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: default;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  outline: none;
  background: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.toggleButton:focus {
  outline: none;
}

.seekIndicator {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
  user-select: none;
  outline: none;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.seekIndicatorLeft {
  left: 1rem;
}

.seekIndicatorRight {
  right: 1rem;
}

.seekIndicatorVisible {
  opacity: 1;
}
