.toggleButton {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: default;
  align-items: center;
  justify-content: center;
  outline: none;
  background: none;
  border: none;
  padding: 0;
}

.toggleButton:focus {
  outline: none;
}
