.playerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: black;
  overflow: hidden;
}

.topControls {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .topControls {
    padding-bottom: 2rem;
  }
}

.controlsBottom {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .controlsBottom {
    padding-top: 2rem;
  }
}

.controlsContainer {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1;
  font-size: 0;
}

@media (min-width: 768px) {
  .controlsContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.controlsRow {
  display: flex;
  padding: 0.5rem 0;
  width: 100%;
  align-items: center;
}

.controlsSection {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.5rem;
}

.controlsSectionStart {
  justify-content: flex-start;
}

.controlsSectionEnd {
  justify-content: flex-end;
}
