.remainingTime {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time {
  margin: 0;
  padding: 0;
  font-variant-numeric: tabular-nums;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  user-select: none;
}

.separator {
  margin: 0;
  padding: 0;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.separator::before {
  content: "/";
}
