.remainingTimeContainer {
  display: flex;
  align-items: center;
}

.remainingTime {
  margin: 0;
  padding: 0;
  font-variant-numeric: tabular-nums;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  user-select: none;
}

.remainingSeparator {
  margin: 0;
  padding: 0 0.5rem;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.remainingSeparator::before {
  content: "/";
}
