.idleCheckContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;
}

.idleCheckContainerIdle {
  cursor: none;
  opacity: 0;
}

.idleCheckContainerActive {
  cursor: auto;
  opacity: 1;
}
