.idleCheckContainer {
  transition: opacity 0.2s ease-in-out;
}

.idleCheckContainerIdle {
  cursor: none;
  opacity: 0;
  pointer-events: none;
}

.idleCheckContainerActive {
  cursor: auto;
  opacity: 1;
}
