.playerButton {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  border-radius: 1rem;
  transition: color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.playerButton svg {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  pointer-events: none;
}

.playerButton:hover,
.button:focus {
  color: rgba(255, 255, 255, 0.8);
}

.playerButton:focus {
  outline: none;
}

.playerButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.playerButtonCircle {
  padding: 0;
  width: 2rem;
  height: 2rem;
}
