.sliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;
  touch-action: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sliderRoot[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.sliderTrack {
  position: relative;
  height: 0.25rem;
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.sliderRange {
  position: absolute;
  height: 100%;
  background: #f7e406;
  transition: width 0.2s ease-in-out;
  border-radius: 1rem;
  -webkit-tap-highlight-color: transparent;
}

.sliderThumb {
  display: block;
  width: 0.875rem;
  height: 0.875rem;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.sliderThumb:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
}

.sliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem rgba(247, 228, 6, 0.5);
}

.sliderThumb[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
