.playerNotice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: black;
  pointer-events: none;
  user-select: none;
}

.playerNoticeTitle {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.playerNoticeText {
  margin: 0;
  height: 1.25rem;
  font-size: 0.875rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.playerNoticeLowZIndex {
  z-index: 5;
}

@media (min-width: 768px) {
  .playerNoticeTitle {
    font-size: 1.25rem;
  }
  .playerNoticeText {
    font-size: 1rem;
  }
}
